# macOS
.DS_Store

# IntelliJ
.idea/
*.iml

# Visual Studio Code
.vscode/
.vsls.json

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Logs
logs
*.log
*.debug

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Temporary change files created by Vim
*.swp
*.un~
Session.vim
.netrwhist

# Local configuration files
*.local.yaml

# Sensitive credentials
*-credentials.yaml
*-credentials.json

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json
sa-*.json

# Other temp files
z-*
z-*.*
*.tmp
*.old
*.bak

# Chart dependencies
**/charts/*.tgz
