# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store

# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/

# Common backup files
old/
*.swp
*.un~
Session.vim
.netrwhist
*.bak
*.tmp
*.old
*.log
*.debug
z-*
z-*.*
*~

# Various IDEs
.project
.idea/
*.iml
*.tmproj
.vscode/
.vsls.json
.vscode-test
.editorconfig
.prettierignore

# Local configuration files
*.local.yaml

# Sensitive credentials
*-credentials.yaml
*-credentials.json

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json
sa-*.json

# Other
CNAME
robots.txt
